.img-custom{
    /* height: 70vh!important; */
    padding-right: 0;
    padding-left: 0;
    width: 100%!important;
}
.info-form{
    margin-top: 50px;
    margin-bottom: 20px;
}
.custom_text_insta{
    color: black;
}
.custom_text_faceb{
    color: lightskyblue;}
.my-modal {
    width: 60vw;    /* Occupy the 90% of the screen width */
    max-width: 70vw;
}

.custom-col{
    padding: 0  0 0 0;
    margin-top: 0!important;
    margin-bottom: 0!important;
}
.header-border{
    border-bottom: 1px solid black;
    /* border-top: 1px solid black; */
  }

.product-info-box{

    /* border: 1px solid black; */
    /* margin-right: 10%; */
    padding-right: 0;
    padding-left: 0;
}
.row{
    padding: 0 0 0 0;
    margin:  0 0 0 0;
}

.custom-btn{
    border: none!important;

}
